{% extends 'base.html.twig' %}

{% block title %}Liste des Partis{% endblock %}

{% block body %}
    <h1>Liste des Partis</h1>
    {% if is_granted('ROLE_MODO') %}
        <a class="badge badge-dark mb-4" href="{{ path('parti_new') }}">> Nouveau parti <</a>
    {% endif %}

    {% if success is defined %}
    <div class="alert alert-success" role="alert">{{ success }}</div>
    {% endif %}

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parti in partis %}
            <tr>
                <td>{{ parti.nom }}</td>
                <td>
                    <a class="badge badge-dark" href="{{ path('parti_show', {'id': parti.id}) }}">Voir</a>
                    {% if is_granted('ROLE_MODO') %}
                        <a class="badge badge-dark" href="{{ path('parti_edit', {'id': parti.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
